.col-sm-9.col-9.text-right
    button.hamburger.hamburger--spin.toggle-menu.ml-auto.js-toggle-menu(type='button')
        span.hamburger-box
            span.hamburger-inner
    nav.templateux-menu.js-templateux-menu(role='navigation')
        ul.list-unstyled
            li.d-md-none.d-block.active
                a.animsition-link(href='index.html') Home
            li
                a.animsition-link(href='work.html') Work
            li
                a.animsition-link(href='about.html') About
            li
                a.animsition-link(href='blog.html') Blog
            li
                a.animsition-link(href='contact.html') Contact