doctype html
html(lang="en")
    head
    meta(charset="UTF-8")
    title Webpack app
    body
        include ../components/header
        img(src=require('../images/html5-css3.png'))
        block body
        .hello-less hello less
        .hello-scss hello scss
        .hello-stylus hello styles