// END templateux-navbar
section.templateux-hero
    .container
        .row.align-items-center.justify-content-center.intro
            .col-md-10(data-aos='fade-up')
                h1 Digital transfor­mation software engineering & beyond
                a.go-down.js-smoothscroll(href='#next')
include ./start-a-project
include ./portfolio
include ./what-we-do
