a.templateux-section.templateux-cta.animsition-link.mt-5(href='#', data-aos='fade-up', data-aos-delay=200)
    .container-fluid
        .cta-inner
            h2
                span.words-1 Start a Project.
                span.words-2 Let's Drop Temp Data And Start Hacking!