section.templateux-section(data-aos='fade-up', data-aos-delay=100)
    .container
        .row.justify-content-center
            .col-md-4
                h2.section-heading.mt-3 What We Do
            .col-md-8
                .row
                    .col-md-12
                        h2.mb-5
                            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
                .row.pt-sm-0.pt-md-5.mb-5
                    .col-lg-6
                        .media.templateux-media.mb-4
                            .mr-4.icon
                                span.icon-monitor.display-3
                            .media-body
                                h3.h5 Web Development
                                p
                                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    .col-lg-6
                        .media.templateux-media.mb-4
                            .mr-4.icon
                                span.icon-command.display-3
                            .media-body
                                h3.h5 Brand identity
                                p
                                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                // END row
                .row.clearfix
                    .col-lg-6
                        .media.templateux-media.mb-4
                            .mr-4.icon
                                span.icon-feather.display-3
                            .media-body
                                h3.h5 Copywriting
                                p
                                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    .col-lg-6
                        .media.templateux-media.mb-4
                            .mr-4.icon
                                span.icon-shopping-cart.display-3
                            .media-body
                                h3.h5 eCommerce
                                p
                                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.